body{
  background-color:paleturquoise;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:darkslategrey;
  text-align: center;
}

form{
  text-align: center;
}
input{
  margin: 3px;

}
.weather-data{
  margin:auto;
}
table{
  text-align: center;
}
thead{
  font-weight: bolder;
}
td{
  padding: 7px;
}